.menuContainer h2 {
  font-size: 1.7em;
  margin-bottom: 0.2em;
  margin-top: 0;
}

.menuContainer h3 {
  padding: 0;
  font-size: 1.4em;
  margin-bottom: 0.3em;
  margin-top: 0.5em;
  text-decoration: underline;
}

.topLine {
  display: flex;
  justify-content: space-between;
}

.conectingLine{
  flex-grow: 1;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
  top: 0.55em;
  padding: 0 1em 0 1em;
}

.topLine h4 {
  padding: 0;
  margin: 0;
  font-size: 1.1em;
  padding-right: 1em;
}

.menuEntry {
  margin-bottom: 1em;
}

.price{
  font-size: 1.1em;
  padding-left: 1em;
}

.menuFlex {
  display: flex;
  height: calc(100vh - 8em);
  overflow-y: scroll;
  padding-bottom: 1em;
}

.leftSide,
.rightSide {
  flex: 50% 0 0;
  padding-right: 5em;
}
